@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    background: transparent !important;
    border-bottom: 0 solid transparent !important;
    justify-content: end;
}


.footerCols li > a {
    color: white !important;
}

li>span,
.ant-menu-title-content {
    color: white !important;
    text-transform: uppercase;

}

li>span:hover,
.ant-menu-item-selected {
    color: white !important;

}

li:hover::after,
.ant-menu-item-selected::after {
    color: white !important;
    border-bottom: 0 solid transparent !important;
}


.button {
    margin-top: 20px;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 0 7.5px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #5cb2b1;
    border: 1px solid turquoise;
    white-space: nowrap;
    width: fit-content;
    height: 50px;
    line-height: 50px;
    color: white;
    padding: 0 37px;
    border-radius: 25px;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
 

.pd-h-115 {
    padding-left: 60px;
    padding-right: 60px;

}

.pd-v-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}
.h-220{
    height:130px;
}

.h-120{
    height:120px;
}

.h-2500{
    height:2500px;
}


.bg{
    background-image: url('../public/background.svg');
    background-size: cover;
    width: 100%;
    height: 920px;
}



/* mobile and tablet */
@media only screen and (max-width: 1023px) {

    .h-120{
        height:0;
    }

    .pd-h-115 {
        padding-left: 30px;
        padding-right: 30px;
    
    }
    
    .pd-v-32 {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .h-2500{
        height:3100px;
    }

    .hideTablet {
        display: none !important
    }

    .bg{
        height: 847px;
    }
}
/* mobile */
@media only screen and (max-width: 767px) {
    .hideMobile {
        display: none
    }

    .pd-h-115 {
        padding-left: 10px;
        padding-right: 10px;
    
    }
    
    .pd-v-32 {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .h-220{
        height:20px;
    }
    .h-120{
        height:20px;
    }
    .h-2500{
        height:3790px;
    }

    .bg{
        height: 785px;
    }
}
@media only screen and (min-width: 1024px) {
    .hideDesktop {
        display: none
    }
}

